.nav-bar-toggle-btn{
  padding-top: 15px;
  margin-right: 15px;
  float: right;
}

body{
  background-color:black;
}

.row-item{
  padding: 5px;
  background-color:#f4f2fa;
  border-radius: 5px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 15px;
}

.login-div{
  background-color: wheat;
  width: 100%;
  height: 255px;
  padding-top: 15px;
  padding-left: 15px;
  margin: 0 auto;


}
.form-cust-style{
  width: 95%;
}


.caption_area{
  width: 95%;
  min-height: 100px;
  resize: none;
  
}

.newpost{
  background-color:whitesmoke;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0 auto;

}

.outer-box1 {
  padding: 10px;
}

.inner-box1 {
  margin-top: 15px;
  border-radius: 4px;
}

.outer-box2 {
  margin-top: 15px;
  padding: 10px;
  position: sticky;
  top: 0;
  margin-bottom: 85px;
}

.inner-box2 {
  background-color: lightskyblue;
  height: 90vh;
  background-image: url('ad.png');
  background-size: contain;
}

.image-holder {
  border-radius: 4px 4px 0px 0px;
  padding: 5px 5px 0px 5px;
  background-color: #201C1B;
}

.caption-box {
  background-color: #191716;
  color: white;
  min-height: 60px;
  padding: 1px 10px 10px 10px;
  text-align: justify;
  border-radius: 0px 0px 4px 4px;

}

.img-style {
  max-height: 100vh;
  max-width: 100%;
}

.caption-header {
  display: inline;
}






/*
================ media queries ================
*/
@media screen and (max-width: 768px) {
  .adds {
      display: none;
  }

  .img-style {
      max-width: 100%;
  }
}

@media (min-width:768px){
  .nav-bar-toggle-btn{
    display: none;
  }
  .txt{
    text-align: center;
  }

  .login-div{
    background-color: wheat;
  width: 55%;
  height: 255px;
  padding-top: 15px;
  padding-left: 15px;
  margin: 0 auto;

  }


  
}